body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height:1.5 ;
    font: 15px/1.5 Arial,Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
    background-color: lightgray;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header{
background: lightsteelblue;
color: white;
min-height: 70px;
padding-top: 20px;
border-bottom: #eb491b 3px solid;

}
header a {
    text-decoration: none;
    color:wheat;
    font-size: 16px;
    text-transform: uppercase;
}
header ul{
    margin: 0;
    padding: 0;

}
header li{
    float: left;
    padding: 0px 20px 0px 20px;
    display: inline;
}
header #brandin{
    float: left;

}
header #brandin h1{
    margin: 0;
    
}
header nav{
float: right;
margin-bottom: 20px;



}
header .curent{
    color: tomato;
    font-weight: bold;
}
header a:hover{
font-weight: bold;
color: #cccc;


}

/*showcase*/
#showcase{
    min-height: 400px;
    background: url(images/showcas.jpg) no-repeat 0 -400px;
    text-align: center;
    color: black;

}
#showcase h1{
    font-size: 50px;
    margin-top:100px ;
    margin-bottom: 10px;
}
#showcase p{
  font-size: 20px;

}
#newshocase{
    padding: 20px;
    background: skyblue;
    color: black;

}
#newshocase h1{
    float: left;

}
#newshocase form{
    float: right;
    margin-top: 15px;
}
#newshocase input[type="email"]{

    padding: 4px;
    height: 25px;
    width: 250px;
}
.button{
    height: 38px;
    padding: 10px;
    background: tomato;
    margin-left: 20px;
    margin-right: 5px;
    width: 150px;
    color: white;
    border: 0;
    
}
/* Boxes */
#boxes{
    margin-top: 20px;
}
#boxes .box{
    float: left;
    width:30%;
    text-align: center;
    padding: 10px;
    

}
#boxes .box img{
    width: 100%;
}
@media(max-width:760px){

header #branding,
header nav,
header nav li
#newshocase h1,
#newshocase form{
    float: none;
    text-align: center;
    width: 100%;
}
{
    float: none;
    text-align: center;
    width: 100%;
}
header{
    padding-bottom: 20px;
}
#showcase h1{
    margin-top: 40px;

}
#newshocase button{
    display: block;
    width: 100%;

}
#newshocase form input[type="email"]{
    width: 100%;
    margin-bottom: 5px;
}


}

}
  
